<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Spectral&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js" defer></script>
    <title>Adrian Diez - Presupuesto</title>
</head>
<body style="margin:0">
    <header>
      <div id="header" style="position:fixed; width:98%; z-index: 3; top:0; left:0; height:10%;display:flex;align-items: center; justify-content: space-between;padding:12px;background:#021C2C; color:#058F62">
        <div id="logo">
          <div id="logo-wrapper">
            <a href="../index.html">
              <img src="../images/my-logo.png" alt="logo de la página web" style="height:65px;aspect-ratio:1.3/1">
            </a>
          </div>
        </div>
        <div id="navbar">
          <ul style="display: flex; flex-direction: row; list-style-type: none; gap:10px;">
            <li><a href="../index.html" class="header-tag secondary-l">Home</a></li>
            <li><a href="galeria.html" class="header-tag secondary-l-2"><strong>Work</strong></a></li>
            <li><a href="contacto.html" class="header-tag secondary-l">About</a></li>
            <li style="color:var(--secondary-light-2)"><strong>Presupuesto</strong></li>
          </ul>
  
        </div>
      </div>
    </header>
    <div class="content-wrapper" style="margin-top:150px">
      <section id="contact-data" > 
        <h2 style="color:transparent; display:inline;">Datos de contacto</h2>
        <article id="contact-data-container" style="width:50vw;background:#021C2C;margin:40px;box-shadow:-20px -20px 0px 0px #002e1fa3;">
          <div id="title-container">
            <h2>¿Quién eres?</h2>
          </div>
          <div id="contact-form-container" class="budget-form">
            <form action="#">
              <label for="name">Nombre</label>
              <input type="text" id="name">
              <br>
              <label for="surname">Apellido</label>
              <input type="text" id="surname">
              <br>
              <label for="phone">Teléfono</label>
              <input type="tel" id="phone">
              <br>
              <label for="email">Correo electrónico</label>
              <input type="email" id="email">
            </form>
          </div>
        </article>
      </section>
      <section id="budget">
        <h2 style="color:transparent; display:inline;">Presupuesto</h2>
        <article id="budget-container" style="width:50vw;background:#021C2C; margin:40px;box-shadow:-20px -20px 0px 0px #002e1fa3;">
          <div id="budget-title-container">
            <h2>¿Qué necesitas?</h2>
          </div>
          <div id="budget-form-container">
            <form action="#" id="budget-form">
              <label for="product">Producto</label>
              <select name="product" id="product">
                <option value="default" selected disabled>Selecciona una opción</option>
                <option value="bug-fix">Arreglar errores en mi código</option>
                <option value="small-project">Crear un proyecto sencillo con HTML y CSS</option>
                <option value="medium-project">Crear un proyecto sencillo con HTML,CSS y JavaScript/JQuery</option>
                <option value="big-project">Crear un proyecto de más de una página</option>
              </select>
              <br>
              <label for="time">Plazo</label>
              <input type="number" id="time" style="width:2em; text-align: center;">
              <select name="period" id="period">
                <option value="days">días</option>
                <option value="weeks">semanas</option>
                <option value="months">meses</option>
              </select>
              <br>
              <br>
              <label>Extras</label>
              <br>
              <input type="checkbox" name="revisions" id="revisions">
              <label for="revisions">Revisiones de contenido</label>
              &emsp;
              <input type="checkbox" name="meetings" id="meetings">
              <label for="meetings">Reuniones diarias</label>
              &emsp;
              <input type="checkbox" name="documentation" id="documentation">
              <label for="documentation">Realización de documentación</label>
              <br>
              <br>
              <section id="budget-final" style="position:relative; color:#058F62; margin:2em; min-height:10em">
                <h3 class="secondary-l-2">PRESUPUESTO FINAL</h3>
                <div class="grid-container">
                  <div id="concepts" style="float:left">
                    <h4>CONCEPTO</h4>
                  </div>
                  <div id="pricing" style="float:right">
                    <h4>PRECIO</h4>
                  </div>
                  <div id="total-price">
                  </div>
                </div>
              </section>
              <br>
              <br>
              <div style="display:inline-flex">
                <input type="checkbox" name="t-and-c" id="t-and-c" style="display:block">
                <label for="t-and-c">He leído y comprendo la <a style="color:var(--secondary-light-2)">política de privacidad</a>.</label>
              </div>
              <br>
              <br>
              <button type="button" class="cta-btn form-btn" onclick="validateForm()">Enviar formulario</button>
            </form>
          </div>
        </article>
      </section>
  
      <section id="advert">
        <h2 style="color:transparent; display:inline;">Anuncio</h2>
        <article id="advert-container" style="width:35vw;position:absolute; top: 20em; right: -1em; background:#021C2C; margin:40px;box-shadow:-20px -20px 0px 0px #002e1fa3;">
          <div id="advert-title-container" style="text-align: center;">
            <h2 style="font-size: 1.75rem;">¡Contrata mis servicios!</h2>
          </div>
          <section id="advert-desc">
            <h3>Tengo una amplia selección de servicios a tu alcance.</h3>
            <h3>Tan solo rellena el cuestionario de la izquierda y te responderé lo antes posible.</h3>
  
            <h2>¡Totalmente sin compromiso!</h2>
  
            <h2>¿A qué esperas?</h2>
  
            <h4>¿Aún no estás convencido o no sabes qué pedir?</h4>
            <h3>Pásate por mi <a>galería de proyectos aquí</a>. Puede que algo te llame la atención.</h3>
          </section>
        </article>
      </section>
  
    </div>
    <footer>
      <div id="footer-container" style="width:100vw;display:flex;align-items: center; justify-content: space-around;padding:12px;background:#021C2C; color:#058F62;margin-top:12px;">
        <div id="footer-enlaces">
          <h5>Enlaces útiles</h5>
          <ul>
            <li>Aviso legal</li>
            <li>Términos y condiciones</li>
            <li>Política de cookies</li>
            <li>Política de privacidad</li>
          </ul>
        </div>
        <div id="footer-direccion">
          <h5>
            Dónde encontrarme
          </h5>
          <p style="color:#058F62;">
            Avenida Príncipe de Asturias, 6 <br>
            Portal 8,1º B <br>
            Villaviciosa de Odón <br>
            28670 Madrid
            
          </p>
        </div>
        <div id="footer-logos" style="display: flex;">
          <img src="../../images/socials/instagram.svg" alt="logo instagram" style="height:30px">
          <img src="../../images/socials/twitter.svg" alt="logo twitter" style="height:30px">
          <img src="../../images/socials/github.svg" alt="logo github" style="height:30px">
        </div>
        
      </div>
    </footer>
  </body>
</html>